@import url('https://glen-players.gitlab.io/06/i/icons.css');

/* -------------------------------------------------------- */
/* VARIABLES */
/* -------------------------------------------------------- */

/* Variables are used like this: var(--text-color) */
:root {
  /* Background Colors: */
  --background-color: #081030;
  --content-background-color: #0c1f54;
  --sidebar-background-color: #0c1f54;

  /* Text Colors: */
  --text-color: #ffffff;
  --sidebar-text-color: #ffffff;
  --link-color: #f48b65;
  --link-color-hover: #6ceeff;

  /* Text: */
  --font: Lexend Deca, sans-serif;
  --heading-font: 'CookieRun', cursive;
  --font-size: 16px;

  /* Other Settings: */
  --margin: 10px;
  --padding: 10px 15px;
  --border: 5px ridge #2d4da0;
  --round-borders: 5px;
  --sidebar-width: 250px;
}

/* -------------------------------------------------------- */
/* BASICS */
/* -------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  font-size: var(--font-size);
  margin: 0;
  padding: var(--margin);
  color: var(--text-color);
  font-family: var(--font);
  line-height: 1.2;
  background: var(--background-color);
  background-image: url('./images/bg.png');
  background-size: 180px;
}

::selection {
  /* (Text highlighted by the user) */
  background: #550aa4;
}

mark {
  background: none;
  text-shadow: 0px 0px 4px #4a56ff;
  color: #85cafc;
  font-weight: bold;
}

small {
  color: #9ec1da;
  font-style: italic;
}

/* Links: */
a {
  text-decoration: underline;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
  text-decoration: none;
}

/* -------------------------------------------------------- */
/* LAYOUT */
/* -------------------------------------------------------- */

.layout {
  width: 1000px;
  display: grid;
  grid-gap: var(--margin);
  grid-template: 'header header' auto 'main rightSidebar' auto / auto var(--sidebar-width);
}

main {
  grid-area: main;
  overflow-y: show;
  padding: var(--padding);
  background: var(--content-background-color);
  border: var(--border);
  border-radius: var(--round-borders);
}

/* -------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------- */

header {
  text-align: center;
  grid-area: header;
  font-size: 1.2em;
  border: var(--border);
  border-radius: var(--round-borders);
  background: var(--content-background-color);
}

.header-content {
  padding: var(--padding);
}

.header-title,
.header-subtitle {
  font-family: var(--heading-font);
}

.header-title {
  font-size: 3.25em;
  color: #3d67ff;
  font-weight: bold;
  background: -webkit-linear-gradient(#34abff, #00138d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #ddebff;
}

.header-title a {
  text-decoration: none;
}

.header-subtitle {
  color: #72a8ff;
  text-shadow: 0 0 3px #2377ff;
  padding-bottom: 15px;
  font-style: italic;
}

nav li:not(li li) {
  text-align: center;
  background-color: var(--background-color);
  border-radius: var(--round-borders);
  margin: 0 8px;
}

/* -------------------------------------------------------- */
/* SIDEBARS */
/* -------------------------------------------------------- */

aside {
  grid-area: aside;
  border: var(--border);
  border-radius: var(--round-borders);
  overflow: hidden;
  background: var(--sidebar-background-color);
  padding: var(--padding);
  color: var(--sidebar-text-color);
}

.right-sidebar {
  grid-area: rightSidebar;
  max-height: 663px;
  overflow: visible;
}

.sidebar-title {
  font-size: 1.2em;
  font-family: var(--heading-font);
}

.sidebar-section ul {
  padding-left: 1.5em;
}

.sidebar-section ul li {
  padding: 0.2em 0;
}
/* Sidebar Blockquote: */

.sidebar-section blockquote {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin: 1em 0;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar-section blockquote > *:first-child {
  margin-top: 0;
}

.sidebar-section blockquote > *:last-child {
  margin-bottom: 0;
}

/* Site Button: */

.site-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-button textarea {
  font-family: monospace;
  font-size: 0.7em;
}

/* -------------------------------------------------------- */
/* NAVIGATION */
/* -------------------------------------------------------- */

nav {
  margin-bottom: 3em;
}

nav .sidebar-title {
  margin-bottom: 0.5em;
}

nav ul {
  margin: 0 -5px;
  padding: 0;
  list-style: none;
  user-select: none;
}

nav > ul li > a,
nav > ul li > strong {
  display: inline-block;
}

nav > ul li > a,
nav > ul li > details summary,
nav > ul li > strong {
  padding: 5px 10px;
}

nav > ul li > a.active,
nav > ul li > details.active summary {
  color: var(--link-color-hover);
}

/* NAVIGATION IN HEADER */

header nav {
  margin-bottom: 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

header nav ul li {
  position: relative;
}

/* Subnavigation (Drop-Down): */

header nav ul ul {
  background: var(--content-background-color);
  display: none;
  position: absolute;
  top: 100%;
  left: 10px;
  padding: 0.5em;
  z-index: 1;
  border: var(--border);
  min-width: 150%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

header nav ul li:hover ul,
header nav ul li:focus-within ul {
  display: block;
}

header nav ul li strong {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: normal;
}

header nav ul ul li a {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

/* -------------------------------------------------------- */
/* CONTENT */
/* -------------------------------------------------------- */

main {
  line-height: 1.5;
}

main a,
main a:visited {
  color: var(--link-color);
}

main a:hover,
main a:focus {
  color: var(--link-color-hover);
  text-decoration-style: wavy;
}

main p,
main .image,
main .full-width-image,
main .two-columns {
  margin: 0.75em 0;
}

main ol,
main ul {
  margin: 0.5em 0;
  padding-left: 1.5em;
}

main ol li,
main ul li {
  margin-bottom: 0.2em;
  line-height: 1.3;
}

main ol {
  padding-left: 2em;
}

main blockquote {
  font-family: var(--heading-font);
  font-size: 1.02em;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin: 1em 1em;
  border-radius: 10px;
}

main pre {
  margin: 1em 0 1.5em;
}

main code {
  text-transform: none;
}

main center {
  margin: 1em 0;
  padding: 0 1em;
}

hr {
  border: 0;
  border-top: 2px dashed #3c5eb9;
  margin: 1em 2em;
}

/* HEADINGS: */

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  font-family: var(--heading-font);
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: normal;
}

main h1:first-child,
main h2:first-child,
main h3:first-child,
main h4:first-child,
main h5:first-child,
main h6:first-child {
  margin-top: 0;
}

main h1 {
  font-size: 2.2em;
  font-variant: small-caps;
}

main h2 {
  font-size: 1.4em;
}

main h3 {
  font-size: 1.3em;
}

main h4 {
  font-size: 1.2em;
}

main h5 {
  font-size: 1.1em;
}

main h6 {
  font-size: 1em;
}

/* COLUMNS: */

.two-columns {
  display: flex;
}

.two-columns > * {
  flex: 1 1 0;
  margin: 0;
}

.two-columns > *:first-child {
  padding-right: 0.75em;
}

.two-columns > *:last-child {
  padding-left: 0.75em;
}

/* -------------------------------------------------------- */
/* CONTENT IMAGES */
/* -------------------------------------------------------- */

.image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.full-width-image {
  display: block;
  width: 100%;
  height: auto;
}

.images {
  display: flex;
  width: calc(100% + 5px + 5px);
  margin-left: -5px;
  margin-right: -5px;
}

.images img {
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 0;
  overflow: hidden;
}

/* -------------------------------------------------------- */
/* ACCESSIBILITY */
/* -------------------------------------------------------- */

#skip-to-content-link {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: var(--content-background-color);
  color: var(--text-color);
  transform: translateY(-3rem);
  transition: transform 0.1s ease-in;
  z-index: 99999999999;
}

#skip-to-content-link:focus,
#skip-to-content-link:focus-within {
  transform: translateY(0);
}

/* -------------------------------------------------------- */
/* MOBILE RESPONSIVE */
/* -------------------------------------------------------- */

/* CSS Code for devices < 800px */
@media (max-width: 800px) {
  .layout {
    width: 100%;
    grid-template: 'header' auto 'main' auto 'rightSidebar' auto / 1fr;
  }

  aside {
    padding: 9px;
    font-size: 0.9em;
  }

  nav {
    padding: 0;
  }

  nav > ul {
    padding-top: 0.5em;
  }

  nav > ul li > a,
  nav > ul li > details summary,
  nav > ul li > strong {
    padding: 0.5em;
  }

  main {
    max-height: none;
    padding: 15px;
  }

  div .landingdoll {
    float: none;
    margin: auto;
  }

  .images {
    flex-wrap: wrap;
  }

  .images img {
    width: 100%;
  }

  #skip-to-content-link {
    font-size: 1rem;
  }
}

/* -------------------------------------------------------- */
/* FOOTNOTES BY JAMES R MEYER */
/* -------------------------------------------------------- */

/* This pseudo element inserts text that is hidden but is read by a screen reader */
*[id^='Footnotes']::before {
  content: 'Footnotes Section: ';
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -625em;
  top: auto;
}

span[class^='footnote'] {
  display: block;
}

.hasJS span[class^='footnote'],
.hasJS span[class='fnWrapper'] {
  display: none;
} /* prevents page load flicker if JavaScript operative */

.hideTip {
  display: none !important;
}

.sr-only {
  /* Hide visually, but will be read by a screen reader - to work for all browsers*/
  border: 0;
  clip-path: inset(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999px;
  top: auto;
}

.fnNum {
  font-size: 80%;
  position: relative;
  top: -3px;
}

.fnNum::before {
  content: '\200B';
}

.fnWrapper {
  display: table;
  margin: 0.3em;
}

.tipContent {
  /* very basic formatting of the footnote */
  display: table-cell;
  border: 2px dotted #d89250;
  background-color: hsla(11, 100%, 9%, 0.5);
  color: #fee5ce;
  padding: 0.2em 0.5em;
  font-size: 90%;
}
